<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="./styles/style.css">
</head>
<body>
<div class="container">
    <div class="Land-page" id="land-page">
        <img src="./images/news1.jpg">
        <div class="text-box">
            <h2>WOLVES</h2>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente consequatur minima aut, 
                consequuntur non animi ea 
                dignissimos dolores incidunt quidem, suscipit eveniet cum, 
                exercitationem aliquid doloremque?
                Asperiores sed veritatis alias.
            </p>
        </div>
    </div>
    <div class="Land-page" id="land-page">
        <img src="./images/news1.jpg">
        <div class="text-box">
            <h2>WOLVES</h2>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente consequatur minima aut, 
                consequuntur non animi ea 
                dignissimos dolores incidunt quidem, suscipit eveniet cum, 
                exercitationem aliquid doloremque?
                Asperiores sed veritatis alias.
            </p>
        </div>
    </div>
    <div class="Land-page" id="land-page">
        <img src="./images/news1.jpg">
        <div class="text-box">
            <h2>WOLVES</h2>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente consequatur minima aut, 
                consequuntur non animi ea 
                dignissimos dolores incidunt quidem, suscipit eveniet cum, 
                exercitationem aliquid doloremque?
                Asperiores sed veritatis alias.
            </p>
        </div>
    </div>
    <div class="Land-page" id="land-page">
        <img src="./images/news1.jpg">
        <div class="text-box">
            <h2>WOLVES</h2>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente consequatur minima aut, 
                consequuntur non animi ea 
                dignissimos dolores incidunt quidem, suscipit eveniet cum, 
                exercitationem aliquid doloremque?
                Asperiores sed veritatis alias.
            </p>
        </div>
    </div>
    <div class="Land-page" id="land-page">
        <img src="./images/news1.jpg">
        <div class="text-box">
            <h2>WOLVES</h2>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente consequatur minima aut, 
                consequuntur non animi ea 
                dignissimos dolores incidunt quidem, suscipit eveniet cum, 
                exercitationem aliquid doloremque?
                Asperiores sed veritatis alias.
            </p>
        </div>
    </div>
</div>
</body>
</html>